/** Toggle Switch Container **/
.toggle-switch-container {
    width: fit-content;
}

/** Toggle Checkbox **/
.toggle-checkbox {
    display: none !important;
    
    /** Toggle Switch **/
    &+.toggle-switch {
    display: block;
    position: relative;
    padding: 0.125rem;
    border-radius: $admin_toggle_switch-border_radius;
    @include admin_toggle_switch-bg( off );
    height: 1.25rem;
    width: 2rem;

        /** Toggle Switch Knob **/
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            background: #fefefe;
            border: $admin_toggle_switch_knob-border;
            border-radius: $admin_toggle_switch-border_radius;
            height: 1.25rem;
            width: 1.25rem;
            transform: translateY( -50% );
        }
    }
    
    /** Toggle Switch Enabled **/
    &:checked+.toggle-switch {
        @include admin_toggle_switch-bg();

        /** Toggle Switch Knob **/
        &::after {
            left: unset;
            right: 0;
            border-color: map-get( $admin_toggle_switch-bg, on );
        }
    }
}