/** General Elements **/
a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/** General Selectors **/
#wpcontent #wpbody #wpbody-content .pagewrap * {
    box-shadow: none !important;
}

.admin-settings-body {
    padding: $admin_content_pad;
}