/** Admin Header **/
.lbd-admin-header {
    background: $admin_header-bg;
    padding: $admin_header-pad;

    /** Admin Header > Screen Heading **/
    .screen-heading {
        padding: $admin_screen_heading-pad;
        margin: $admin_screen_heading-margin;
        font-size: admin_screen_heading-font( size );
        font-weight: admin_screen_heading-font( weight );
    }
}