/** Tabs **/
@mixin admin_tab-bg( $state: default ) {
    background: map-get( $admin_tab-bg, $state );
}

@mixin admin_tab-border() {
    border: map-get( $admin_tab-border, width ) map-get( $admin_tab-border, type ) map-get( $admin_tab-border, colour );
}

@mixin admin_tab-border_radius() {
    border-radius: map-get( $admin_tab-border, radius );
}

/** Toggle Switch **/
@mixin admin_toggle_switch-bg( $state: on ) {
    background: map-get( $admin_toggle_switch-bg, $state );
}

/** Table **/
@mixin admin_table-grid-cols( $cols: 1, $width: 1fr ) {
    display: grid;
    grid-template-columns: repeat($cols, $width);
}

@mixin admin_table_item() {
    margin-bottom: 0 !important;
    width: fit-content;
    cursor: default;
}