/** Admin Settings Tabs **/
.lbd-admin-header .nav {
    padding-left: 2rem;
    
    /** Admin Settings Tab **/
    .tab {
        padding: $admin_tab-pad;
        @include admin_tab-border();
        border-bottom: none;
        @include admin_tab-border_radius();
        @include admin_tab-bg();
        color: admin_tab-font( colour );
        font-size: admin_tab-font( size );
        font-weight: admin_tab-font( weight );

        &:not(.active):hover,
        &:not(.active):focus,
        &:not(.active):active {
            @include admin_tab-bg( hover );
            text-decoration: none;
        }

        &.active {
            @include admin_tab-bg( active );
        }

        &.active,
        &.active:hover,
        &.active:focus,
        &.active:active {
            cursor: default;
            pointer-events: none !important;
        }
    }
}

/** Tab Content **/
.tab-content {
    padding: $admin_content-pad;

    .tab-pane {
        display: none;

        &.active {
            display: block;
        }
    }
}