/** Screen Heading **/
$admin_header-bg: #fefefe;
$admin_header-pad: 1rem 2rem 0.25rem 0;
$admin_screen_heading-pad: 0.5rem 0 0.5rem 2rem;
$admin_screen_heading-margin: 0 0 1.5rem;

/** Tabs **/
$admin_tab-pad: 0.25rem 0.75rem;
$admin_content-pad: 1rem 2rem 0;

/** Toggle Switch **/
$admin_toggle_switch-border_radius: 1rem;
$admin_toggle_switch_knob-border: 1px solid #aaa;