.toggle-switch-container {
    width: fit-content;
}

.toggle-checkbox {
    display: none !important;
}

.toggle-checkbox+.toggle-switch {
    display: block;
    position: relative;
    background: $toggle-switch-bg-off;
    border-radius: $toggle-switch-border-radius;
    height: 1.25rem;
    width: 2rem;
}

.toggle-checkbox+.toggle-switch::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #fefefe;
    border-radius: $toggle-switch-border-radius;
    height: 1.25rem;
    width: 1.25rem;
    transform: translateY( -50% );
}

.toggle-checkbox:checked+.toggle-switch {
    background: $toggle-switch-bg-on;
}

.toggle-checkbox:checked+.toggle-switch::after {
    left: unset;
    right: 0;
}