$lbd-admin-bg-colour-header: #fefefe;
$lbd-admin-bg-tab-active: #f0f0f1;
$lbd-admin-bg-hover-tab-inactive: #e6e6e6;
$lbd-admin-pad-screen-heading: 0.5rem 0;
$lbd-admin-pad-tab: 0.25rem 0.75rem;
$lbd-admin-margin-screen-heading: 0 0 1.5rem;
$lbd-admin-border-colour-tab: #e6e6e6;
$lbd-admin-border-tab: 0.125rem solid $lbd-admin-border-colour-tab;
$lbd-admin-border-radius-tab: 0.5rem 0.5rem 0 0;
$lbd-admin-font-screen-heading-size: 1.5rem;
$lbd-admin-font-screen-heading-weight: 400;
$lbd-admin-font-tab-colour: #3e3e3e;
$lbd-admin-font-tab-size: 1rem;
$lbd-admin-font-tab-weight: 500;
$toggle-switch-border-radius: 1rem;
$toggle-switch-bg-on: #00a32a;
$toggle-switch-bg-off: #ddd;